.playerImprovement {
  transition: 0.275s;
  transition-timing-function: ease-in;
  width: 1360px;
  height: 780px;
  background: rgba(5, 5, 5, 0.95);
  border: 6px solid rgb(50, 50, 50);
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -680px;
  margin-top: -390px;
  z-index: 8;
  transform: scale(1);

  .sideBar {
    background:rgba(30, 30, 30, 0.95);
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .perkArea {
    background: crimson;
    width: 80%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;

    .prkcanvas {
      position: absolute;
      left: 0;
      top: 0;
    }

    .rounded-perk {
      border-radius: 100%;
    }
  }
}