body {
  background: rgb(10, 10, 10);
  --red: rgb(138, 31, 31);
  --blue: rgb(31, 77, 138);
}

.mapContainer {
  position: absolute;
  top: 0px;
  left: 300px;
  width: calc(100% - 600px);
  height: 100%;
  display: grid;
  place-items: center;
  overflow: hidden;

  > canvas {
    --pituus: calc((100vw - 600px - 60px) * .95);
    --korkeus: calc((100vw - 600px - 60px) * .64);
    width: var(--pituus);
    height: var(--korkeus);
    user-select: none;
    position: absolute;

    &:not(:first-child) {
      pointer-events: none;
    }
  }
}


#tileProperties {
  color: white;
  font-size: 18px;
  left: calc(100% - 300px);
  max-width: 300px;
  position: absolute;
  top: 50px;

  > pre {
    margin: 0px;
    padding: 0px;
    white-space: break-spaces;
  }
}


.leftContainer {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;

  #mapButtons {
    width: 100%;
    height: fit-content;
    position: relative;
    left: 35px;
    margin-top: 35px;
  
    > button {
      transition: 0.1s;
      border: none;
      color: white;
      font-size: 25px;
      padding: 8px;
      margin: 10px;
      width: 200px;
      cursor: pointer;
      box-shadow: inset 0px 0px 8px 6px rgba(30, 30, 30, 0.5), -4px 4px 6px 4px rgb(0, 0, 0);
      text-shadow: 0px 0px 4px black;
    }
  
    > button:hover {
      filter: brightness(1.25);
    }
  }
  #printMap {background: rgb(153, 15, 15)}
  
  #importMap, 
  #newMap {background: rgb(165, 199, 14)}
  
  #teleport, 
  #tilesMenu, 
  #cluttersMenu, 
  #enemiesMenu {background: rgb(156, 56, 156)}

  .gg-trash {
    left: 190px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: block;
    -webkit-transform: scale(var(--ggs, 1));
    transform: scale(var(--ggs, 1));
    width: 10px;
    height: 12px;
    border: 2px solid #0000;
    -webkit-box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    box-shadow: 0 0 0 2px, inset -2px 0 0, inset 2px 0 0;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    margin-top: -13px;
    top: -23px;
    color: white;
  
    &::before, &::after {
      content: "";
      display: block;
      box-sizing: border-box;
      position: absolute
    }
  
    &::after {
      background: currentColor;
      border-radius: 3px;
      width: 16px;
      height: 2px;
      top: -4px;
      left: -5px
    }
  
    &::before {
      width: 10px;
      height: 4px;
      border: 2px solid;
      border-bottom: transparent;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      top: -7px;
      left: -2px
    }
  
    &:hover {
      color: black;
      filter: drop-shadow(0px 0px 2px white);
    }
  }

  // Spread sheets tyylejä
  #tilesContainer {
    position: relative;
    color: white;
    background: rgb(20, 20, 20);
    width: fit-content;
    height: fit-content;
    user-select: none;
    max-height: 100%;
    overflow-y: auto;
    word-wrap: normal;
    padding: 2px;
    box-shadow: inset 0px 0px 0px 2px white;
    display: none;
    margin-top: 15px;
  }

  table {
    border-collapse: collapse;
  }

  tr {
    font-size: 16px;
    font-family: helvetica;
    font-weight: 600;

    &:not(:first-child):hover {
      background: gray;
    }

    > th {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #363636;
      }
    }

    td {
      padding-left: 10px;
    }

    &:nth-child(odd) {
      background: black;
    }

    img {
      width: 26px;
      position: relative;
      top: 2px;
    }
  }
}

.enemyInfoContainer {
  position: absolute;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  top: 0px;
  left: 0px;

  .enemyInfoBox {
    background: rgb(24, 24, 24);
    padding: .5em;
    width: 500px;

    .valintaPohja {
      display: flex;
      flex-wrap: wrap;
    }

    .solu {
      position: relative;
      background: #2f2f2f;
      margin: 5px;
      padding: 0 10px 3px 10px;
      width: 200px;
      min-height: 50px;
      flex-grow: 1;
      display: grid;
      place-items: center;
      
      p {
        padding: 0px;
        margin: 0px;
        text-align: center;
        color: #fff;
        font-family: helvetica;
        font-size: 15px;
        line-height: .95;
        top: 1px;
        position: relative;
      }
      input {
        width: 100%;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        &:not([type="range"]) {
          padding: 3px 0px 2px 4px;
          background: #232323;
          border: none;
          color: #fff;
          box-shadow: inset 0 0 4px black;
        }
      }
    }

    .buttonBox {
      display: flex;

      button {
        flex-grow: 1;
        padding: .2em;
        width: 100%;
        margin: 5px;
        font-size: 1.5em;
        border: none;
        box-shadow: inset 0 0 9px 1px black;
        font-weight: 600;
        color: white;
        text-shadow: 0 0 5px black;

        &.done {
          background: #20ff20;
        }
        &.reset {
          background: rgb(255, 44, 44);
        }
      }
    }
  }
}

.sprites {
  .sprite {
    width: 0;
  }
}